* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease-out;
  background-color: rgb(224, 224, 224);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 400px;
  display: flex;
  overflow: hidden;
  max-width: 400px;
  position: relative;
  box-shadow: 0 0 5px 5px rgb(138, 138, 138);
}

.slide {
  position: absolute;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.btn {
  width: 40px;
  border: none;
  height: 40px;
  padding: 10px;
  z-index: 9999px;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
}

.btn:active {
  transform: scale(1.1);
}

.back {
  top: 45%;
  left: 2%;
}

.next {
  top: 45%;
  right: 2%;
}
